html
  head
    title CONVERSATION BETWEEN #{participants[0].toUpperCase()} AND #{participants[1].toUpperCase()}
  body
    h1 CONVERSATION BETWEEN #{participants[0].toUpperCase()} AND #{participants[1].toUpperCase()}
  ul
    each msg in messages
      li #{msg.sender_name}: #{msg.body}
