html
  head
    title #{participants[0]}, #{participants[1]}
    meta(name='description' content='public texting')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='icon', type='image/png', href='/assets/favicon-bubble.png')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script.
      $(document).ready(function () {
      $('html, body').animate({
      scrollTop: $('#end').offset().top
      }, 'slow');
      });

  body
   .homecredit2
     a.grey(href='javascript:history.back()') ←
   .textbox
     .creditbar
       .leftcredit #{participants[0]}
       .rightcredit #{participants[1]}  
     ul
       each msg in messages
         - var classname = participants[0] === msg.sender_name ? 'left' : 'right'
             span(class=classname).stamp #{msg.created_at}
             
             if (!!msg.media_type)
               li(class=classname)
                 img(src=msg.media_url)
             else
               li(class=classname) #{msg.body}
               
               
             
     br
     img#dots(src='/assets/dots.gif')
     br
     p#end
         
