html
  head
    title #{participants[0].toUpperCase()}, #{participants[1].toUpperCase()}
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='icon', type='image/png', href='/assets/favicon.png')
  body
  .textbox
  ul
    each msg in messages
      li #{msg.sender_name}: #{msg.body}
      
  .left #{participants[0].toUpperCase()}
  .right #{participants[1].toUpperCase()}
