html
  head
    title #{participants[0]}, #{participants[1]}
    meta(name='description' content='public texting')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='icon', type='image/png', href='/assets/favicon-0.png')
    script(src="/scripts/fav-loop.js")
  body
  .creditbar
       .leftcredit #{participants[0]}
       .rightcredit #{participants[1]}  
  .textbox
       ul
         each msg in messages
            - var classname = participants[0] === msg.sender_name ? 'left' : 'right'
            if (!!msg.media_type)
              li(class=classname)
                img(src=msg.media_url)
            else
              li(class=classname) #{msg.body}
          
  
